@{
    ViewData["Title"] = "Review";
}

@section stylesheet {
    <link rel="stylesheet" href="~/css/department/review.css" />
}
    
<div id="departmentReviewContainer" class="department-review-container">
</div>

@section Scripts {
    <script src="~/js/department/review.js"></script>
}