<h1>update department</h1>

<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#exampleModal"
>
  Launch demo modal
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cập nhật</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <h5 class="card-title text-center mb-5 fw-light fs-5">Cập nhật thông tin phòng</h5>
        <div class="form-floating">
            <label class="Address">Địa Chỉ: </label>
            <input id="address" class="form-control" type="text">
        </div>
        <div class="form-floating">
            <label class="floatingInput">Tiền phòng: </label>
            <input id="price" class="form-control" type="number">
        @* <span id="messEmail" class="error-message">Error</span> *@
        </div>
        <div class="form-floating">
            <label class="floatingInput">số điện thoại liên hệ: </label>
            <input id="phoneNumber" type="text" class="form-control">
            <span id="msgPhoneNumber" class="error-message">Error</span>
        </div>
        <div class="form-floating">
            <label class="floatingInput">Diện tích phòng: </label>
            <input id="acreage" type="number" class="form-control">
        </div>
        <div class="form-floating">
            <label class="floatingInput">Deparment Group: </label>
            <select id="departmentSelect">
                <option value="">--- Select Department ---</option>
            </select>
        </div>
        <div class="form-floating">
            <label class="floatingInput">Description: </label>
            <input id="description" class="form-control" type="text">
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

