<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ngân hàng nhà trọ - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/utils/toast.css" />

    @RenderSection("stylesheet", required: false) 
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Department" asp-action="Index">Welive</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                 <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul id="actionRole" class="navbar-nav flex-grow-1">
                    </ul>
                </div> 
                
                <div class="account-container">
                    <div id="loginSection" class="login-section" style="display: none;">
                        <a class="nav-link text-dark account-singin" asp-controller="Account" asp-action="Index">Đăng nhập</a>
                        <a class="btn btn-info" asp-controller="Account" asp-action="RegisterForm">Đăng Ký</a>
                    </div>
                    <div id="userSection" class="user-section align-items-center" style="display: none;">
                        <div id="userInfo" class="user-info" onclick="goToMyDepartment()"></div>
                        <button class="btn btn-info" onclick="handleLogout()">Đăng xuất</button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container body-content">
        <main role="main" class="pb-3">
            <div id="toast-container"></div>
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - NHNT - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/js/utils/CustomRequest.js"></script>
    <script src="~/js/utils/Toast.js"></script>
    <script src="~/js/utils/LocalStorage.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
